<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>AI Buddy</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <link rel="stylesheet" href="{% static 'tenali/css/style.css' %}">
</head>
<body>
    <div id="bubble-container"></div>
    <div id="chat-form">
        <h1 class="text-center">Welcome to AI Buddy</h1>

        <!-- Conversation Display Section -->
        <div id="conversation"></div>

        <!-- Listening and Recognizing Animations -->
        <div id="listening-animation" class="animation-state">Listening...</div>
        <div id="recognizing-animation" class="animation-state">
            Recognizing...
        </div>
    </div>

    <script src="{% static 'tenali/js/script.js' %}"></script>
</body>
</html>
